.img-omelette{
    max-width: 100%;
    width: 600px;
}

.omelette__ricipe, .attribution{
    padding: 0 1.8rem;
}

.recipe__title{
    margin: 1.3rem 0;
    font-size: 2rem;
    font-family: "Young Serif", serif;
}

.text, .attribution{
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%);
    line-height: 1.5rem;
    letter-spacing: .1rem;
}

.recipe__text{
    margin: 1.3rem 0;
}

.preparation{
    background-color: hsl(330, 100%, 98%);
    padding: 1.2rem;
    margin: 1.4rem 0;
    border-radius: .8rem;
}

.preparation__title{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: hsl(337, 71%, 42%);
    font-weight: bold;
    font-family: "Outfit", sans-serif;
}

.strong, .strong__instructions{
    color: hsl(11, 24%, 18%);
    font-weight: bold;
}

.strong__instructions{
    color: hsl(30, 1%, 35%);
}

.title{
    font-size: 1.8rem;
    margin: 1.3rem 0;
    font-weight: bold;
    color: hsl(11, 73%, 34%);
}

.list{
    padding-bottom: 1rem;
    margin: 0 1.4rem;
}

.ingredients, .instructions{
    border-bottom: 1px solid hsl(30, 6%, 67%);
}

.nutrition__information{
    padding: 2rem 0;
}

table{
    width: 100%;
}

tr:not(:last-child){
   border-bottom: 1px solid hsl(34, 9%, 69%);
  
}

.nutrition__strong-text{
    padding-left: 4rem;
}

.nutrition__strong{
    color: hsl(11, 85%, 32%);
    font-weight: bold;
    padding: 13px 0;
}

li::marker{
    color: hsl(11, 85%, 32%);
    font-weight: bold;
}

.attribution{
    text-align: center;
    padding-bottom: 1rem;
}

@media screen and (min-width: 630px) {
    .img-omelette{
        max-width: 100%;
        width: 1200px;
    }
}

@media screen and (min-width: 1200px) {

    body{
        background-color: hsl(29, 53%, 90%);
    }

    .recipe__container{
        display: block;
        margin: 4% auto;
        width: 50%;
        border-radius: 1rem;
        background-color: #fff;
    }

    .img__omellete__container{
        margin: 0 auto;
        max-width: 100%;
        width: 720px;
    }

    .img-omelette{
        margin: 2rem 0;
        border-radius: 1rem;
    }
}
